/* 
font-family: 'Asap', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* General */

:root {
    --color-logo: #173A56;
    --color-header: #22343D;
    --color-btn-in: #BCD0E5;
    --color-btn-up: #02897A;
    --color-white: #FFFFFF;
}

body {

}

.container {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    font-style: normal;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
} 

ul, li {
    margin: 0;
    padding-left: 0;
}

address {
    font-style: none;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* General */

/* Header */

.header {
    padding-top: 26px;
    padding-bottom: 26px;
}

.header-nav {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.header-logo-svg {
    padding-right: 16px;
}

.header-logo {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    line-height: 1.07;
    color: var(--color-logo);
}

.header-list {
    display: flex;
    padding-left: 237px;
}

.header-item {
    margin-right: 24px;
}

.header-item:not(:last-child) {
    margin-right: 30px;
}

.header-item-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-header);
}

.header-item-product {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-header);
}

.header-btn-in {
    border: 1px solid var(--color-btn-in);
    border-radius: 4px;
    padding: 9px 23px;
    cursor: pointer;
    margin-right: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-logo);
}

.header-btn-up {
    background: var(--color-btn-up);
    border-radius: 4px;
    border: none;
    padding: 9px 24px;
    cursor: pointer;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-white);
}

.header-btn {
    display: flex;
}

/* Header */

/* Hero */

.hero {
    padding-top: 25px;
}

.hero-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: var(--color-header);
    width: 400px;
}

.hero-text {
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: var(--color-header);
width: 420px;
}

.hero-btn {

}

.hero-video {
    display: flex;
}

/* Hero */